.alert-component {
    position: relative;
    background: #adc6a8;
    display: none;
    align-items: center;
    width: 100%;
    max-height: 0;
    transition: .3s all ease;
    border-radius: 4px;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}

.alert-component.visible {
    display: block;
    max-height: 900px;
}

.alert-component button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: black;
    float: right;
  }